.controlPane {
  overflow-x: auto;
  padding: 24px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-bottom: 32px;
}

.title {
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);
}

@media (max-width: 1024px) {
  .controlPane {
    width: 300px;
    flex: 1 0 auto;
    padding-bottom: 0;
  }
}